<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bible Survey</title>
</head>
<body>
<h1>Bible Survey</h1>

<p>Welcome to Bible Random Number Project.</p>

        <a class = "btn btn-primary text-center"
         href="{% url "survey_processing" provider_name='group1' survey_name='Bible'%}">
        Continue to the survey</a>

<p>My favorite bible verse at this time is: Isaiah 41:10 - Lance Dell</p>

<p>My favorite Bible verses at this time are: Psalm 72:12-14. - Brantley English </p>

</body>
</html>