{% extends 'base.html' %}
{% block content %}
<div class="panel panel-info">
    <div class="panel panel-heading">
        <h2>Welcome to the Bible Random Number Project</h2>
    </div>
    <div class="panel-body">
        {% if result %}
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>{{ result }}</strong>
            </div>
        {% endif %}
        <form class="form-horizontal" method="get"
                action="{% url 'survey_processing' provider_name='group1' survey_name='Bible' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-md-5" for="num">Enter desired number of questions:</label>
                <div class="col-md-6">
                    <input id="num" type="number" name="num_questions" min="0" max="{{ total_questions }}">
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Continue to the Survey</button>
                </div>
            </div>
        </form>
        <div class="text-center">
            <a class="btn btn-primary" href="{% url 'import_bible_verses' %}">Import Bible Verses</a><br><br>
            <p>My favorite Bible verse at this time is: Isaiah 41:10 - Lance Dell</p>
            <p>My favorite Bible verses at this time are: Psalm 72:12-14 - Brantley English</p>
            <p>My favorite Bible verses at this time are: Psalm 61:1-3 - Joshua Stucky</p>
        </div>
    </div>
</div>
{% endblock %}