{% extends "base.html" %}


{% block title %}
    Display the survey
{% endblock %}

{% block content %}
    <form action="" method="post">

        <div>
            <input type="hidden" value=
                    "{{ csrf_token }}"
                   name="csrfmiddlewaretoken">
        </div>
        <input type="text" placeholder="Please Enter Your Name"
            name="{{ form.patient_name }}"
            id="{{ form.patient_name }}">

        {% for item in questions %}
            <p class="">
                {{ item.sequence_num }}&nbsp;
                {{ item.question_text }}<br/>
                {% for c in item.its_own_choices %}
                    <input type="radio" name="__question_num{{ item.id }}"
                           value="{{ c.id }}">
                    {{ c.choice_text }}<br>
                {% endfor %}
            </p>

        {% endfor %}

        <input type="submit" value="Submit the form"/>
    </form>
{% endblock %}