{% extends "base.html" %}


{% block title %}
    Display the survey
{% endblock %}

{% block content %}
    <form action=
                  "{% url 'survey_processing' provider_name=provider_name survey_name=survey_name %}"
          method="post">

        <div>
            <input type="hidden" value=
                    "{{ csrf_token }}"
                   name="csrfmiddlewaretoken">
        </div>
        <label for="patient_name">Patient Name</label>
        <input type="text" placeholder=
                "Patient Name is required"
               name="patient_name" maxlength="100"
               id="patient_name" required="required">
        <label for="patient_name2">*</label>

        {% for item in questions %}
            <h3>
                {{ item.sequence_num }}&nbsp;
                {{ item.question_text }}<br/>
            </h3>
                {% for c in item.its_own_choices %}
                    <h4>
                        <input type="radio" name="__question_num{{ item.id }}"
                               value="{{ c.id }}">
                        {{ c.choice_text }}<br>
                    </h4>
                {% endfor %}
        {% endfor %}

        <input type="submit" value="Submit the form"/>
    </form>
{% endblock %}