  {% load staticfiles %}


  <head>
    <link href="{% static 'bootstrap3.3.6/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">

    <script src="{% static 'bootstrap3.3.6/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'bootstrap3.3.6/js/bootstrap.min.js' %}"></script>

    <script language="JavaScript">
        $(document).ready(function() {
            $('#incfont').click(function(){
            curSize= parseInt($('#content').css('font-size')) + 2;
            if(curSize<=38)
            $('#content').css('font-size', curSize);
            });
            $('#decfont').click(function(){
            curSize= parseInt($('#content').css('font-size')) - 2;
            if(curSize>=10)
            $('#content').css('font-size', curSize);
            });
        });
    </script>

  </head>

<body>

    <!-- The following is from http://www.tangowithdjango.com/book/chapters/bootstrap.html -->
    <!--
    <div class="navbar navbar-default">
       <div class="container">

           <a class="brand" href="/">Eyeball Survey</a>

           <div class="pull-right">
               { % if user.is_authenticated %}
                    Welcome, <a href="/">{ { user.username }}</a>

                <a href="/">| Logout</a>
               { % else %}
                <a href="/">Register</a>
                <a href="/">| Login</a>
               { % endif %}
           </div>
       </div>
    </div>
    -->
    <!-- The above is from http://www.tangowithdjango.com/book/chapters/bootstrap.html -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>





</body>